* {
    box-sizing: border-box;
    outline: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

a,
a:link,
a:focus,
a:visited,
a:active {
    color: #191919;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 16px;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    gap: 12px;
    min-height: 100vh;
}

main.main {
    flex: 1;
}

nav.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__inner {
    padding: 38px 32px;
    border-radius: 16px;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    width: 196px;
    height: 41px;
}

.nav__menu ul {
    padding: 0;
    list-style: none;
    margin: 36px 0 0 4px;
}

.nav__menu ul li {
    margin-bottom: 27px;

    a {
        text-decoration: none;
        color: #BABABA;
        font-size: 20px;
        font-weight: 600;

        &::before {
            content: '';
            display: inline-block;
            margin-right: 20px;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #E9E9E9;
        }
    }
}

.nav__menu ul li.active {
    a {
        color: #ff9347;
        font-weight: 500;

        &::before {
            background-color: #FB812C;
        }
    }
}

.dashboard {
    padding: 44px 24px;
    border-radius: 16px;
    background: #fff;
}

.btn {
    background: #FF6900;
    padding: 16px;
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #fff;
    transition: all .2s ease;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 24px;
}

.btn:hover {
    background: #cc5400;
}


a.btn__help {
    padding: 11px 20px;
    color: #BABABA;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../../assets/img/help-grey.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.help__tablet,
.help__mob {
    display: none;
}

.container-small {
    width: 576px;
    margin: 0 auto;
}

.qstn {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;

    .qstn__row {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .qstn__title {
        font-size: 24px;
    }

    .qstn__title-big {
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: 4px;
        font-size: 32px;
        line-height: 1.25;
        color: #4D4D4D;
    }

    .qstn__radio {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
            display: block;
            padding: 6px 12px;
            background: #F7F7F7;
            border-radius: 55px;
            transition: all .2s ease;
        }

        .qstn__radio-lbl {
            user-select: none;
            cursor: pointer;

            input {
                display: none;

                &:checked+span {
                    background: #FF6900;
                    color: #fff;

                }
            }


        }
    }

    .qstn__input-text {
        width: 100%;

        input {
            background-color: #F4F4F4;
            color: #363636;
            width: 100%;
            border-radius: 16px;
            padding: 16px;
            font-size: 24px;
            border: none;

            &::placeholder {
                color: #939393;
            }

            &:focus {
                outline: 1px solid #FF6900;
            }
        }
    }

    .qstn__info-checkbox {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        margin-top: 12px;
        cursor: pointer;
        user-select: none;

        input {
            display: none;
        }

        .input_checkbox {
            background-color: #F7F7F7;
            border: 2px solid #DDDDDD;
            min-width: 24px;
            height: 24px;
            border-radius: 8px;
            margin: 4px;
            cursor: pointer;
        }

        input:checked+.input_checkbox {
            background-color: #FB812C;
            border-color: #FB812C;
            background-image: url(../img/checked.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }


    .qstn__info {
        color: #4D4D4D;
        margin-top: 12px;
        padding-left: 22px;
    }

    .qstn__input-promo {
        width: 100%;
        position: relative;

        &::before {
            content: '';
            background-image: url(../img/promo.svg);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 16px;
            top: 19px;
            width: 24px;
            height: 24px;
        }

        input {
            background-color: #F4F4F4;
            color: #363636;
            width: 100%;
            border-radius: 16px;
            padding: 16px;
            font-size: 24px;
            border: none;
            padding-left: 52px;

            &::placeholder {
                color: #939393;
            }

            &:focus {
                outline: 1px solid #FF6900;
            }
        }
    }
}

.tariffs {
    border-radius: 28px;
    padding: 4px;
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #F7F7F7;

    .tariffs__item {
        background-color: #fff;
        border-radius: 24px;
        padding: 24px;
        user-select: none;
        cursor: pointer;

        &.premium {
            border: 4px solid #FB812C;
            margin: -4px;
        }

        input {
            display: none;
        }

        .tariffs__item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #BABABA;
            font-weight: 500;
        }

        .tariffs__price {
            color: #363636;
        }

        .tariffs__item-radio {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            gap: 12px;
        }

        .tariffs__item-desc {
            display: flex;
            flex-direction: column;
            gap: 9px;
            margin-top: 9px;
            font-size: 16px;
            line-height: 1.2;
            color: #363636;
            padding-left: 44px;
            padding-right: 75px;

            p {
                margin: 0;
            }
        }

        .input_radio {
            background-color: #F7F7F7;
            border: 2px solid #DDDDDD;
            min-width: 24px;
            height: 24px;
            border-radius: 8px;
            margin: 4px;
            cursor: pointer;
        }

        input:checked+.input_radio {
            background-color: #FB812C;
            border-color: #FB812C;
            background-image: url(../img/checked.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.tariffs__premium {
    padding: 2px;
    background: linear-gradient(90deg, #004343, #0023A0, #450050);
    border-radius: 55px;

    span {
        border-radius: 55px;
        padding: 1px 7px;
        display: block;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
}

.qstn__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-left: -12px;
    margin-right: -12px;
}

.qstn__tags-lbl {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    color: #BABABA;
    font-weight: 600;
    padding: 0 12px;
}

.qstn__tags-item {
    user-select: none;
    cursor: pointer;

    input {
        display: none;
    }

    .qstn__tags-item-inner {
        padding: 6px 12px;
        background: #F7F7F7;
        border-radius: 55px;
        transition: all .2s ease;
    }

    input:checked+.qstn__tags-item-inner {
        background: #FF6900;
        color: #fff;
    }
}

.icon {
    min-width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.face-sad {
    background-image: url(../img/face-sad.svg);
}

.popup-close {
    background-image: url(../img/popup-close.svg);
}

.purse {
    background-image: url(../img/purse.svg);
}

.info-orange {
    background-image: url(../img/info-orange.svg);
    min-width: 30px;
    height: 30px;
}

.cart-arrow {
    background-image: url(../img/cart-arrow.svg);
    min-width: 21px;
    height: 9px;
}

.popup-faq-arrow {
    background-image: url(../img/popup-faq-arrow.svg);
    min-width: 17px;
    height: 8px;
    transform: rotate(180deg);
    transition: all .2s ease;
}

.popup__faq-item-q.active .popup-faq-arrow {
    transform: rotate(0);
}

.heart {
    background-image: url(../img/heart.svg);
}

.briefcase {
    background-image: url(../img/briefcase.svg);
}

.life-ring {
    background-image: url(../img/life-ring.svg);
}

.certificate {
    background-image: url(../img/certificate.svg);
}

.romb-orange {
    background-image: url(../img/romb-orange.svg);
}

.star {
    background-image: url(../img/star.svg);
}

.graduation-cap {
    background-image: url(../img/graduation-cap.svg);
}

.chevron-down {
    background-image: url(../img/chevron-down.svg);
}

.binoculars {
    background-image: url(../img/binoculars.svg);
}

.calendar {
    background-image: url(../img/calendar.svg);
}

.circle-exclamation {
    background-image: url(../img/circle-exclamation.svg);
}

.funnel {
    background-image: url(../img/funnel.svg);
}

.funnel-white {
    background-image: url(../img/funnel-white.svg);
}

.tariff-toggle {
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 4px;
    display: flex;
    gap: 4px;
    width: fit-content;
    margin-bottom: 24px;
}

.tariff-item {
    padding: 16px;
    border-radius: 20px;
    display: flex;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff00;
    transition: all .4s ease;
}


.tariff-item__img {
    width: 32px;
    height: 32px;

    img {
        width: 100%;
        height: auto;
    }
}

.tariff-item__body {
    padding-left: 8px;
    transition: all .3s ease;
}

.tariff-item__label {
    font-size: 20px;
    font-weight: 500;
    color: #4D4D4D;
    margin-bottom: 6px;
}

.tariff-item.active {
    background-color: #FFFFFF;

    .tariff-item__body {
        padding-right: 10px;
    }
}

.tariff-item__desc {
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 500;
}

.tariff__item {
    display: none;
}

.tariff__item.active {
    display: block;
}

footer.footer {
    display: none;
}

.qstn__tags.qstn__tags_info {
    margin: 0;
    flex-wrap: nowrap;
    align-items: flex-start;

    .qstn__tags-lbl {
        padding-left: 0;
    }

    .qstn__tags-item {
        cursor: auto;
        color: #4D4D4D;
    }
}

// start .raiting
.raiting {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFC700;
    font-weight: 600;
    font-size: 24px;
}

// end .raiting

// start .nameold
.nameold {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 3px 0;

    .nameold__name,
    .nameold__old {
        font-weight: 500;
    }

    .nameold__name {
        font-size: 28px;
        color: #4D4D4D;
    }

    .nameold__old {
        font-size: 24px;
        color: #BABABA;
    }
}

// end .nameold

// start .btn__more
.btn__more {
    color: #FF6900;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

// end .btn__more

// start .lbldescmore
.lbldescmore {
    display: flex;
    gap: 6px;

    .lbldescmore__lbl {
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 4px;
        font-size: 20px;
        color: #BABABA;
        font-weight: 600;
        padding-right: 8px;
    }

    .lbldescmore__desc {
        color: #4D4D4D;
        font-size: 20px;
        font-weight: 500;
    }

    .lbldescmore__btn-wrp {
        margin-top: 6px;
    }
}

// end .lbldescmore

// start .lbltagsmore
.lbltagsmore {
    .lbltagsmore__inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;

        .lbltagsmore__lbl {
            display: flex;
            align-items: center;
            height: fit-content;
            gap: 4px;
            font-size: 20px;
            color: #BABABA;
            font-weight: 600;
            padding-right: 6px;
            padding-left: 6px;
        }

        .lbltagsmore__item {
            color: #363636;
            font-size: 20px;
            font-weight: 500;
            background-color: #F7F7F7;
            padding: 6px 12px;
            border-radius: 55px;
        }
    }

    .lbltagsmore__btn-wrp {
        margin-top: 6px;
        padding-left: 6px;
    }
}

// end .lbltagsmore

// start .descmore
.descmore {
    .descmore__txt {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #4D4D4D;
    }

    .descmore__btn-wrp {
        margin-top: 6px;
    }
}

// end .descmore

// start .schedule
.schedule {
    .schedule__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 24px;

        .lbltagsmore__lbl {
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: 600;
            color: #BABABA;
        }

        .schedule__timezone {
            display: flex;
            align-items: flex-start;
            gap: 4px;
            font-weight: 500;
            color: #4D4D4D;
            cursor: pointer;
        }

        .schedule__timezone-select {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    .schedule__info-err {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 24px;
        font-size: 20px;
        color: #FF5858;
        font-weight: 500;
    }
}

// end .schedule

.body__item.__err {
    border: 4px solid #FFDEDE;
}

// start .cldr 
.cldr {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .cldr__day-lbl {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 20px;
        color: #4D4D4D;
    }

    .cldr__day-hours {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        .cldr__hour {
            padding: 12px 18px;
            font-size: 24px;
            letter-spacing: -0.03em;
            color: #A49C98;
            background: #fff;
            font-weight: 500;
            border-radius: 16px;
            transition: all .2s ease;
        }
    }

    .cldr__hour.available {
        background: #DAF9DA;
        color: #4B4B4B;
        cursor: pointer;
    }
}

// end .cldr 

// start .cart
.cart {
    position: relative;

    .cart__btn-wrp {
        position: sticky;
        z-index: 99;
        right: 24px;
        bottom: 16px;
        display: flex;
        justify-content: flex-end;
        transform: translateY(-100%);
        padding-bottom: 16px;
        padding-right: 24px;

        .btn__order {
            padding: 16px 18px;
            width: fit-content;
        }
    }

    .cart__info {
        position: sticky;
        top: 0;
        z-index: 99;

        .cart__info-first {
            background: #F7F7F7;
            border-radius: 16px 16px 16px 0;
            width: fit-content;
            padding: 16px;
            color: #4D4D4D;
            font-size: 20px;
            font-weight: 500;
            right: -24px;
            position: absolute;
            transform: translateX(100%);

            &::before {
                content: '';
                background-image: url(../img/triangle.svg);
                width: 20px;
                height: 12px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                transform: translateY(100%);
                bottom: 2px;
                left: 0;
            }
        }

        .cart__info-second {
            width: fit-content;
            color: #4D4D4D;
            font-size: 20px;
            font-weight: 500;
            right: -24px;
            position: absolute;
            transform: translateX(100%);
            top: 40vh;

            .cart__info-second-txt {
                margin-bottom: 15px;
            }
        }

        // .cart__info-second-btn {
        //     cursor: pointer;
        // }
    }
}

// end .cart


.filters-btn {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 4px;
    padding: 10px 14px;
    border-radius: 55px;
    background: #F7F7F7;
    color: #363636;
    font-weight: 500;
    transition: all .2s ease;
}

.filters-btn.active {
    background-color: #FF6900;
    color: #fff;

    .icon {
        background-image: url(../img/funnel-white.svg);
    }
}

.cldr__hour.available.active {
    background-color: #FF8733;
    color: #fff;
}

// start popup
.popup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -999;
    transition: all .2s ease;
}

.popup.active {
    opacity: 1;
    z-index: 999;
}

.popup.changepayment,
.popup.topay {
    font-family: 'Inter';
}

html.hidden {
    overflow: hidden;
}

.popup__body {
    width: 560px;
    margin: 41px auto 0;
    background: #fff;
    border-radius: 16px;
    position: relative;
    z-index: 9999;
    height: calc(100vh - 82px);
    overflow-y: auto;
    padding: 25px;
}

.popup__layer {
    position: absolute;
    background: #1e1e1e66;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    user-select: none;
}

.popup__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
}

// end popup




.__mob,
.__tablet {
    display: none;
}

// -----------------------------------------------------------------------------

@media(max-width: 1190px) {
    .popup__body {
        width: 500px;
        margin: 16px auto;
        height: calc(100vh - 32px);
        padding: 24px;
    }

    footer.footer,
    .__tablet {
        display: flex;
    }

    .nav__inner {
        height: auto;
        position: relative;
        padding: 0;
    }

    .container-small {
        margin-left: 0;
    }

    .help__tablet {
        display: block;
    }

    .help__desk {
        display: none;
    }

    .nav__first-left {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
    }

    .wrapper {
        flex-direction: column;
        gap: 0;
    }

    .nav__first-inner {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }

    .nav__menu ul {
        display: flex;
        gap: 16px;
        margin: 0;
    }

    .nav__menu ul li {
        margin: 0;
    }

    nav.nav {
        padding: 24px 44px;
    }

    .nav__menu ul li a {
        font-size: 16px;
    }

    .nav__menu ul li a::before {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        margin-bottom: 2px;
    }

    .dashboard {
        padding: 18px 44px;
    }

    .nav__logo {
        width: 156px;
        height: 32px;
    }
}

@media(max-width: 700px) {
    .popup__body {
        width: calc(100% - 32px);
        padding: 16px;
    }

    .cldr .cldr__day-hours .cldr__hour,
    .schedule .schedule__info-err {
        font-size: 14px;
    }

    .raiting,
    .lbldescmore .lbldescmore__desc,
    .lbldescmore .lbldescmore__lbl,
    .btn__more,
    .lbltagsmore .lbltagsmore__inner .lbltagsmore__lbl,
    .lbltagsmore .lbltagsmore__inner .lbltagsmore__item,
    .descmore .descmore__txt,
    .schedule .schedule__header,
    .cldr .cldr__day-lbl {
        font-size: 16px;
    }

    .nameold .nameold__name,
    .nameold .nameold__old {
        font-size: 20px;
    }

    .lbltagsmore .lbltagsmore__inner {
        gap: 4px;
    }

    .cldr .cldr__day-hours .cldr__hour {
        padding: 10px 13px;
    }

    .lbltagsmore .lbltagsmore__inner .lbltagsmore__item {
        padding: 4px 10px;
    }

    .lbltagsmore__btn-wrp {
        display: flex;
        justify-content: center;
        padding-right: 6px;
    }

    nav.nav {
        padding: 24px 16px;
    }


    .container-small {
        width: 100%;
    }

    .help__tablet {
        display: none;
    }

    .help__mob {
        display: block;
    }

    .nav__first-left {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .nav__menu ul {
        flex-direction: column;
    }

    .nav__menu ul li a {
        font-weight: 500;
    }

    .nav__first {
        align-items: flex-start;
    }

    a.btn__help {
        background: #F3F3F3;
        border-radius: 16px;
        color: #A4A4A4;
        font-size: 16px;
        padding: 8px 10px;
    }

    a.btn__help:before {
        width: 20px;
        height: 20px;
    }

    main.main {
        display: flex;
        flex-direction: column;
    }

    .dashboard {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 16px 4px;
    }

    .nav__logo {
        width: 114px;
        height: 24px;
        margin-top: 7px;
    }

    .__tablet {
        display: none;
    }

    .__mob {
        display: flex;
    }

    .tariff-item {
        width: 100%;
        flex-direction: column;
        padding: 10px;
        border-radius: 16px;
    }

    .tariff-item__body {
        padding: 0;
    }

    .tariff-item__label {
        font-size: 14px;
        white-space: nowrap;
    }

    .tariff-item__desc {
        font-size: 12px;
    }

    .tariff-item.active {

        .tariff-item__body {
            padding-right: 0;
        }
    }

    .qstn__title {
        padding-left: 28px;
    }

    .qstn {
        margin-bottom: 22px;
    }

    .tariff-toggle {
        margin-bottom: 12px;
        width: 100%;
        border-radius: 19px;
    }

    .qstn .qstn__info-checkbox {
        margin-top: 7px;
    }

    .qstn .qstn__title,
    .qstn,
    .qstn .qstn__input-text input,
    .qstn .qstn__input-promo input,
    .tariffs .tariffs__item .tariffs__price,
    .tariffs__exp {
        font-size: 16px;
    }

    .qstn .qstn__info,
    .qstn .qstn__info-checkbox,
    .tariffs__premium span {
        font-size: 14px;
    }

    .qstn .qstn__input-promo::before {
        display: none;
    }

    .qstn .qstn__input-promo input,
    .qstn .qstn__input-text input {
        padding: 12px 16px;
    }

    .qstn .qstn__title-big {
        font-size: 24px;
        margin-top: 36px;
        margin-bottom: 24px;
    }

    .icon {
        min-width: 20px;
        height: 20px;
    }

    .qstn__tags {
        gap: 8px;
    }

    .qstn__tags-item .qstn__tags-item-inner {
        padding: 4px 10px;
    }

    .__desk {
        display: none;
    }

    .tarriffs__spec {
        margin-top: 9px;
        color: #BABABA;
        font-weight: 500;
    }

    .tariffs .tariffs__item .tariffs__item-desc {
        padding-right: 0;
        padding-left: 37px;
        font-size: 14px;
    }

    .tariffs .tariffs__item .tariffs__item-radio {
        gap: 6px;
    }

    .tariffs .tariffs__item .input_radio {
        min-width: 18px;
        width: 18px;
        height: 18px;
        margin: 3px;
        border-radius: 6px;
        background-size: contain;
        border-width: 1px;
    }

    .tariffs__item-radio {
        width: 100%;
    }

    .tariffs__exp {
        margin-left: auto;
    }

    .tariffs__premium {
        margin-left: auto;
    }

    .btn {
        font-size: 16px;
        padding: 13px;
        border-radius: 12px;
    }

    .tariff-item__img {
        width: 22px;
        height: 22px;
    }

    .nav__menu ul li a::before {
        margin-bottom: 0;
    }

    .cart .cart__btn-wrp {
        padding: 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        transform: translateY(0);
        bottom: 14px;
    }

    .cart .cart__btn-wrp .btn__order {
        padding: 10px 14px;
    }

    .btn__nextps {
        cursor: pointer;
    }
}