.sidebar {
  padding: 28px 24px;
  width: 25.4%;
}

.consultation__title {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 600;
}

.consultation__info {
  font-size: 14px;
  margin-bottom: 22px;
}

.consultation__btn {
  font-size: 16px;
  padding: 16px;
  text-align: center;
  color: #fff;
  background: #FF6900;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.consultation__btn:hover {
  background: #cc5400;
}

.calendar__header-img {
  display: none;
}

.calendar__header-inf {
  font-weight: 500;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.popup.available_time .popup__close {
  top: 30px;
}

.popup.available_time .popup__body {
  width: 500px;
  padding: 24px 16px 16px;
}

.available_time__plus,
.available_time__info-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.available_time__plus {
  background-image: url(../img/plus.svg);
  min-width: 48px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-bottom: 28px;
}

.available_time__info-icon {
  background-image: url(../img/info.svg);
  min-width: 30px;
  width: 30px;
  height: 30px;
}

.available_time__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 28px;
}

.person__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  margin-bottom: 32px;
}

.person__first-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
  height: 54px;
}
.person__img img {
  width: 100%;
}

.person__name {
  font-weight: 500;
}

.person__time {
  font-size: 14px;
  color: #423935;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__time-hour {
  margin-left: 2px;
}

.person__price {
  font-size: 22px;
  font-weight: 700;
}

.available_time__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 16px;
  color: #FF6900;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.available_time__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.available_time__btns div {
  border-radius: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 229px;
  height: 56px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.available_time__btns .available_time__btn-cancel {
  background: #ABD29B;
}
.available_time__btns .available_time__btn-cancel:hover {
  background: #789a6b;
}
.available_time__btns .available_time__btn-pay {
  background: #FF6900;
}
.available_time__btns .available_time__btn-pay:hover {
  background: #cc5400;
}

@media (max-width: 1190px) {
  .available_time__plus {
    display: none;
  }
  .popup.available_time .popup__close {
    top: 16px;
  }
  .available_time__title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .person__first {
    padding: 0;
  }
  .person__price {
    font-size: 16px;
  }
  .available_time__info {
    gap: 6px;
    font-size: 14px;
    margin-bottom: 28px;
  }
  .popup.available_time .popup__body {
    width: 343px;
  }
  .available_time__btns {
    gap: 8px;
  }
  .available_time__btns div {
    width: 150px;
    height: 40px;
    border-radius: 16px;
  }
  .available_time__btns .available_time__btn-cancel {
    background: #F7F7F7;
    color: #363636;
  }
  .available_time__btns .available_time__btn-cancel:hover {
    background: #F7F7F7;
  }
  .schedule__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
  .schedule__item-second {
    gap: 32px;
  }
  .schedule__list {
    gap: 32px;
  }
  .schedule__item-img {
    width: 48px;
    height: 48px;
  }
  .schedule__item-first {
    gap: 20px;
  }
  .schedule__item-first .schedule__item-text {
    font-size: 20px;
  }
  .schedule__item-label {
    margin-bottom: 4px;
  }
  .schedule__item-second .schedule__item-text {
    font-size: 16px;
  }
  .schedule__btn {
    font-size: 14px;
  }
  .schedule__btn::after {
    width: 7px;
    min-width: 7px;
    height: 10px;
  }
  .wrapper {
    gap: 4px;
  }
  main.main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .sidebar {
    width: 100%;
    padding: 16px;
  }
  .consultation__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    padding: 8px 12px;
  }
  .consultation__info {
    margin-bottom: 16px;
  }
  .consultation__title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .dashboard {
    margin-right: 0;
  }
  .dashboard {
    padding: 16px;
  }
  .calendar__header-back:before {
    display: none;
  }
  .calendar__header-back {
    font-size: 20px;
  }
  .calendar__header-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    gap: 6px;
  }
  .calendar__header-name {
    margin: 0;
    font-size: 16px;
    color: #4D4D4D;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
  }
  .calendar__header-img {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 24px;
    height: 24px;
  }
  .calendar__header-nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 14px;
  }
  .calendar__header-inf {
    font-size: 14px;
  }
  .calendar-table {
    max-height: calc(100vh - 300px);
    max-width: calc(100vw - 165px);
    overflow: auto;
    padding-right: 16px;
  }
  .calendar-table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .calendar-table::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  .calendar-table::-webkit-scrollbar-thumb {
    background-color: #FF6900;
    border-radius: 0;
    border: none;
  }
  .table__row {
    min-width: 83px;
  }
  .table__cell .table__cell-inner {
    padding: 3px;
  }
  .calendar__header {
    margin-bottom: 16px;
  }
}
@media (max-width: 800px) {
  .schedule__item {
    border: none;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule__item-third {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 700px) {
  .calendar-table {
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 305px);
    padding-right: 10px;
    margin-right: -20px;
  }
  .table__cell .table__cell-inner {
    height: 34px;
  }
  .table__cell.title .table__cell-inner {
    height: 38px;
  }
  main.main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 4px;
  }
  .calendar__header {
    margin-bottom: 16px;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 16px;
  }
  .consultation__title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .consultation__info {
    margin-bottom: 16px;
  }
  .consultation__btn {
    padding: 8px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
  }
}