.wrapper {
  gap: 6px;
}

.dashboard {
  margin-right: 0;
  padding: 0;
  background: transparent;
}

.support-main,
.support-side__first,
.support-side__second {
  background: #fff;
  border-radius: 16px;
}

.support-main {
  padding: 32px 32px 38px 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.support-side__first,
.support-side__second {
  padding: 28px 24px;
  min-height: calc(50vh - 6px);
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  height: 100%;
}

.support-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.support-side {
  width: 400px;
  position: sticky;
  top: 12px;
}

.support__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 40px;
  padding: 0 20px;
}

.support__faq-arrow {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url(../img/chevron-down.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.support__faq-arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.support__faq-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.support__faq {
  padding: 20px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F7F7F7), to(#FDFBFB));
  background: linear-gradient(0deg, #F7F7F7, #FDFBFB);
}

.support__faq-text {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter";
}

.support__faq-answer {
  display: none;
  padding: 4px 0 20px;
  font-size: 20px;
  line-height: 1.25;
  color: #4D4D4D;
  font-family: "Inter";
}

.support__faq-item {
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 20px;
}
.support__faq-item:last-child {
  border-bottom: none;
}

.support__faq-item:first-child .support__faq-answer {
  display: block;
}

.support-side__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.27;
}

.support-side__info {
  margin-top: 8px;
  font-size: 14px;
  color: #000;
  margin-bottom: 22px;
}

.curatorwrite__btn,
.supportwrite__btn {
  background: #ABD29B;
  width: 100%;
  height: 56px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  font-weight: 500;
  margin-bottom: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.curatorwrite__btn:hover,
.supportwrite__btn:hover {
  background: #9bbe8d;
}

.supportmail {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.27;
}
.supportmail a {
  text-decoration: none;
}

.social-settings {
  display: block;
  width: 79px;
  height: 56px;
  background-image: url(../img/explosion.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #ABD29B;
  border-radius: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-settings:hover {
  background-color: #9bbe8d;
}

.support__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 22px;
}

.support-side__mob-btn {
  display: none;
}

@media (max-width: 1290px) {
  .support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .support-side {
    position: relative;
    top: 0;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .support-side__first,
  .support-side__second {
    min-height: auto;
  }
  .support-side__second .support-side__title {
    display: none;
  }
  .support__social {
    margin-top: 0;
    gap: 8px;
  }
  .social-settings {
    width: 150px;
  }
  .support-side__second {
    background: transparent;
    padding: 0;
  }
  .support-side,
  .support {
    gap: 8px;
  }
  .wrapper {
    gap: 4px;
  }
  .write__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
  .write__wrp > div {
    max-width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support-side__first {
    padding: 16px;
  }
  .support-side__title {
    font-size: 20px;
    line-height: 1.4;
  }
  .supportmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
  }
  .supportmail a {
    color: #FF6900;
  }
  .supportmail__text span {
    display: none;
  }
  .curatorwrite__btn,
  .supportwrite__btn {
    height: 40px;
    background: #FF6900;
    border-radius: 16px;
    margin-bottom: 16px;
    margin-top: auto;
  }
  .curatorwrite__btn:hover,
  .supportwrite__btn:hover {
    background: #FF6900;
  }
  .support-side__info {
    margin-top: 6px;
    margin-bottom: 12px;
  }
  .support-main {
    padding: 16px;
  }
  .support__title {
    display: none;
  }
  .support__faq-text {
    font-size: 20px;
    letter-spacing: -0.02em;
  }
  .support__faq {
    padding: 0;
    background: transparent;
  }
  .support__faq-answer {
    font-size: 16px;
    padding-top: 0;
    margin-top: -4px;
  }
}
@media (max-width: 765px) {
  .social-settings {
    width: auto;
  }
  .support__social-item {
    width: calc(25% - 6px);
  }
  .write__wrp > div {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: calc(50% - 8px);
  }
}
@media (max-width: 700px) {
  .support-side__first {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    width: 100%;
    -webkit-box-shadow: 0 -8px 16px 6px rgba(0, 0, 0, 0.0509803922);
            box-shadow: 0 -8px 16px 6px rgba(0, 0, 0, 0.0509803922);
    border-radius: 16px 16px 0 0;
    background: #F6F7F4;
    -webkit-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .support-side__first.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .write__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
  }
  .write__wrp > div,
  .supportmail {
    width: 100%;
    max-width: 343px;
    margin: auto;
  }
  .support-side__mob-btn {
    padding-bottom: 16px;
    padding-top: 8px;
    display: block;
  }
  .support-side__mob-btn span {
    display: block;
    width: 158px;
    height: 6px;
    background: #D9D9D9;
    margin: auto;
    border-radius: 35px;
  }
  .curatorwrite__btn,
  .supportwrite__btn {
    margin-bottom: 0;
  }
  .support-side__second {
    padding: 12px 16px;
  }
}