body {
  font-family: "Inter";
  letter-spacing: -0.02em;
}

.wrapper {
  gap: 6px;
  background-color: #F3F4F1;
}

.dashboard {
  padding: 0;
  margin: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard__main {
  padding-left: 180px;
}

.dashboard__filter {
  background: #fff;
  padding: 28px 24px;
}

.filterwrp {
  position: sticky;
  top: 40px;
}

label.filters__tags-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
label.filters__tags-item .filters__tags-item-txt {
  background: #F7F7F7;
  color: #363636;
  border-radius: 55px;
  padding: 6px 10px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
label.filters__tags-item input {
  display: none;
}
label.filters__tags-item input:checked + .filters__tags-item-txt {
  background: #FF6900;
  color: #fff;
}

.filters__item-label {
  color: #BABABA;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 16px;
}

.filters__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  max-width: 305px;
}

.top {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 20px;
  background: #F7F7F7;
  padding: 4px;
}

.top__label {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  padding: 12px;
  background-color: #fff;
  border-radius: 16px;
  color: #FF6900;
  font-weight: 600;
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.top__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}
.top__img img {
  width: 100%;
}

.body {
  background: #F7F7F7;
  border-radius: 24px;
  position: relative;
  z-index: 2;
  margin-top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  padding: 4px;
  padding-bottom: 102px;
}

.body__item {
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
}

.lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.lbl__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lbl__header-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 20px;
  color: #3D3D3D;
}

.cart__info-second-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  background-color: #F7F7F7;
  border-radius: 61px;
}

.cart__info-second-btn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
}
.cart__info-second-btn-img img {
  width: 100%;
}

.cart__info-second-btn-arrow {
  width: 48px;
  height: 48px;
  background-image: url(../img/icon-next-pers.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.btn__nextps {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 3px 3px 11px;
  background-color: #F7F7F7;
  border-radius: 61px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.btn__nextps .cart__info-second-btn-img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.btn__nextps .cart__info-second-btn-txt {
  margin-right: 8px;
  padding-bottom: 2px;
}
.btn__nextps .cart__info-second-btn-arrow {
  width: 36px;
  height: 36px;
}

.popup__header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.popup__header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.popup__header-name {
  font-size: 32px;
  font-weight: 500;
  color: #313333;
}

.popup__header-info {
  font-size: 20px;
  color: #868686;
}

.popup__choosecard-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 12px;
  border: 1px solid #868686;
  border-radius: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

.popup__choosecard-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__maininfo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.popup__maininfo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  color: #313333;
}

.popup__maininfo-item-btn {
  color: #868686;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup__maininfo-promo {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.popup__maininfo-promo.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-input {
  margin-top: 15px;
  position: relative;
}
.promo-input::before {
  content: "";
  position: absolute;
  background-image: url(../../../assets/img/promo-tag.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 19px;
  left: 16px;
}

.promo-input input {
  width: 100%;
  border: none;
  border-radius: 16px;
  background-color: #F4F4F4;
  padding: 16px;
  padding-left: 52px;
  color: #939393;
  font-size: 24px;
  font-weight: 500;
}

.promo-btn {
  border: 2px solid #FF6900;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  color: #FF6900;
  font-size: 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup__line {
  border: 2px solid #DBDBDB;
  margin-top: 15px;
  margin-bottom: 15px;
}

.popup__summ {
  font-size: 24px;
  color: #313333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__summ-val {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}

.popup__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  gap: 15px;
  color: #FF6900;
  margin-bottom: 30px;
}

button.btn.popup__submit {
  width: 100%;
  margin-bottom: 5px;
}

.popup__policy {
  text-align: center;
  color: #868686;
  margin-bottom: 40px;
}
.popup__policy a {
  text-decoration: none;
  color: #FF6900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.popup__policy a:hover {
  color: #cc5400;
}

.popup__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.popup__faq-item-q-txt {
  font-size: 20px;
  font-weight: 500;
  color: #313333;
  max-width: 470px;
}

.popup__faq-item-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup__faq-item-a {
  padding-top: 10px;
  padding-right: 46px;
  color: #4D4D4D;
}

.popup__body::-webkit-scrollbar {
  width: 0;
}

.popup__org-name,
.popup__org-price {
  font-size: 24px;
  font-weight: 600;
  color: #313333;
}

.popup__org-name {
  margin-bottom: 10px;
}

.popup__org-price {
  margin-bottom: 20px;
}

.popup__org-info {
  font-size: 20px;
  color: #868686;
}
.popup__org-info span {
  font-weight: 500;
  color: #6C6C6C;
}

#topay .popup__line {
  margin-top: 5px;
  margin-bottom: 20px;
}

#topay .popup__policy {
  margin-bottom: 0;
}

.popup__card-text {
  font-size: 18px;
  color: #868686;
  margin-bottom: 1px;
}

.popup__card {
  padding: 18px 14px 17px 13px;
  border: 1px solid #DBDBDB;
  border-radius: 16px;
}

.popup__card-info {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #313333;
}

label.popup__card-label input {
  width: 100%;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 16px;
  color: #313333;
}

.popup__card-number {
  margin-bottom: 10px;
}

.popup__card-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  color: #DBDBDB;
  gap: 5px;
}

.popup__card-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  font-size: 20px;
}

.popup__card-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.popup__card-cvc {
  width: 99px;
}
.popup__card-cvc .popup__card-text {
  text-align: center;
}

input[name=card-month],
input[name=card-cvc],
input[name=card-year] {
  text-align: center;
}

.popup__img-pay-sistem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__img-pay-sistem img {
  width: 205px;
  height: 40px;
}

.calendar {
  background-image: url(../../../assets/img/calendar.svg);
}

.cart .cart__info .cart__info-first {
  background: #fff;
}

.cart .cart__info .cart__info-first::before {
  background-image: url(../../assets/img/triangle-white.svg);
}

@media (max-width: 1720px) {
  .dashboard__main {
    padding-left: 0;
  }
}
@media (max-width: 1540px) {
  .container-small {
    width: 470px;
  }
}
@media (max-width: 1430px) {
  nav.nav {
    min-width: 240px;
    width: 240px;
  }
}
@media (max-width: 1360px) {
  .filters__list {
    max-width: 210px;
  }
}
@media (max-width: 1260px) {
  nav.nav {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .dashboard__filter {
    padding: 0;
  }
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .__mob,
  .__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .popup.topay .popup__body {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    top: calc(50% - 330px);
  }
  li.active:nth-child(2)::before,
  li.active:nth-child(3)::before {
    display: none;
  }
  .nav__first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.nav {
    padding-bottom: 0;
  }
  .nav__first-left {
    gap: 60px;
  }
  .container-small {
    margin-left: auto;
  }
  .cart__info-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 115px;
  }
  footer.footer {
    display: none;
  }
  .dashboard__filter {
    background: transparent;
    margin-bottom: 4px;
  }
  .filters {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1019607843);
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1019607843);
    border-radius: 10px;
  }
  .filters__list {
    max-width: 350px;
  }
  .wrapper {
    background-color: #FAFAFA;
  }
  .filterwrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 7px;
    position: relative;
    top: 0;
    margin-top: 0;
  }
  .filters {
    position: absolute;
    opacity: 0;
    z-index: 99;
    background: #f7f7f7;
    padding: 24px 14px;
    border-radius: 20px;
    bottom: -8px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .filters.active {
    opacity: 1;
    z-index: 99;
  }
  a.btn__help {
    font-size: 16px;
  }
  a.btn__help:before {
    width: 20px;
    height: 20px;
  }
  label.filters__tags-item .filters__tags-item-txt {
    background: #fff;
  }
  .filters__list {
    gap: 24px;
  }
  .filters__title {
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 16px;
    color: #342B26;
  }
  .cart .cart__info .cart__info-first {
    padding: 8px;
    right: -8px;
    top: -50px;
    font-size: 14px;
  }
  .cart .cart__info .cart__info-second {
    right: -8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    max-width: 133px;
  }
  .filters-btn {
    padding: 10px;
  }
  .icon.funnel {
    min-width: 20px;
    height: 20px;
  }
  .dashboard {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
  }
  .popup__body {
    width: calc(100% - 32px);
    max-width: 560px;
    padding: 16px;
  }
  .container-small {
    width: 375px;
    margin-left: 0;
  }
  .nameold .nameold__name,
  .nameold .nameold__old {
    font-size: 20px;
  }
  .raiting,
  .lbldescmore .lbldescmore__desc,
  .lbldescmore .lbldescmore__lbl,
  .btn__more,
  .lbltagsmore .lbltagsmore__inner .lbltagsmore__lbl,
  .lbltagsmore .lbltagsmore__inner .lbltagsmore__item,
  .descmore .descmore__txt,
  .schedule .schedule__header,
  .cldr .cldr__day-lbl {
    font-size: 16px;
  }
  .cldr .cldr__day-hours .cldr__hour {
    padding: 10px 13px;
  }
  .cldr .cldr__day-hours .cldr__hour,
  .schedule .schedule__info-err {
    font-size: 14px;
  }
  .cart .cart__btn-wrp {
    padding: 0;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    bottom: 14px;
  }
  .btn {
    font-size: 16px;
    padding: 13px;
    border-radius: 12px;
  }
  .cart .cart__btn-wrp .btn__order {
    padding: 10px 14px;
  }
  .btn__nextps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .popup__img-pay-sistem img {
    width: 103px;
    height: 20px;
  }
  .popup__org-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popup__org-info,
  .popup__org-name,
  .popup__card-info {
    font-size: 16px;
  }
  .popup__org-price {
    font-size: 20px;
  }
  .popup__card-text {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .popup__card-date {
    gap: 6px;
    width: 130px;
  }
  .popup__card-cvc {
    width: 65px;
  }
  .popup.topay .popup__body {
    top: calc(50% - 270px);
  }
  label.popup__card-label input {
    font-size: 16px;
    padding: 8px;
  }
  .popup__card {
    padding: 16px;
  }
  .popup__org-name,
  .popup__org-price {
    margin-bottom: 0;
  }
  .popup__org {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 7px;
  }
  .popup__header-img {
    width: 50px;
    height: 50px;
  }
  .popup__header {
    gap: 12px;
    margin-bottom: 16px;
  }
  .popup__choosecard-select {
    padding: 10px;
  }
  .icon.cart-arrow {
    width: 11px;
    min-width: 11px;
  }
  .popup__header-info {
    gap: 6px;
    font-size: 14px;
  }
  .promo-input input {
    padding: 12px;
    padding-left: 38px;
    font-size: 16px;
  }
  .promo-input::before {
    top: 11px;
    width: 20px;
    height: 20px;
    left: 12px;
  }
  .promo-btn {
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
  }
  .popup__info {
    gap: 6px;
    margin-bottom: 16px;
  }
  .popup__policy {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .popup__header-name,
  .popup__maininfo-item,
  .popup__summ,
  .popup__summ-val {
    font-size: 16px;
  }
  .popup__faq-item-q-txt {
    font-size: 16px;
    max-width: 280px;
  }
  .popup__faq-item-a {
    font-size: 14px;
    padding-right: 8px;
  }
  .icon.popup-faq-arrow {
    background-size: 67%;
  }
  .popup__summ-val {
    margin-bottom: 0;
  }
  .popup__info-text {
    font-size: 14px;
    margin-top: 16px;
  }
  .body {
    margin-top: 0;
    padding-bottom: 45px;
  }
  li.active:nth-child(2)::before,
  li.active:nth-child(3)::before {
    display: block;
    left: 3px;
    top: 16px;
    height: 40px;
  }
  .top__label {
    font-size: 16px;
    padding: 6px 10px;
    gap: 5px;
  }
  .body__item {
    padding: 18px 12px;
  }
  .lbl__header-lbl {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .cart__info-second {
    display: none;
  }
  nav.nav {
    width: 100%;
  }
  .cart .cart__info .cart__info-first {
    right: 8px;
    top: -40px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .container-small,
  .filterwrp {
    width: 100%;
    max-width: 450px;
  }
  .container-small {
    margin-left: auto;
  }
  .filterwrp {
    margin: 0 auto;
  }
}