.wrapper {
  gap: 6px;
}

.dashboard {
  margin-right: 0;
  padding: 32px;
}

.invitation__discount {
  display: none;
}

.invitation__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.invitation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-weight: 600;
  margin-bottom: 16px;
}

.invitation__lbl {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.invitation__info {
  font-weight: 600;
  margin-bottom: 5px;
}

.invitation__input-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.invitation__input-inp input {
  border: none;
  width: 416px;
  height: 48px;
  border-radius: 10px;
  background: #F6F7F4;
  padding: 12px 16px;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 16px;
}
.invitation__input-inp input::-webkit-input-placeholder {
  color: #A49C98;
}
.invitation__input-inp input::-moz-placeholder {
  color: #A49C98;
}
.invitation__input-inp input:-ms-input-placeholder {
  color: #A49C98;
}
.invitation__input-inp input::-ms-input-placeholder {
  color: #A49C98;
}
.invitation__input-inp input::placeholder {
  color: #A49C98;
}

.invitation__input-info {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #A49C98;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.invitation__btn {
  width: 229px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF6900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 12px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.invitation__btn:not(._disable) {
  cursor: pointer;
}
.invitation__btn:not(._disable):hover {
  background: #cc5400;
}

.invitation__btn._disable {
  opacity: 0.25;
  pointer-events: none;
}

@media (max-width: 1190px) {
  .invitation__input-info,
  .invitation__item:last-child {
    display: none;
  }
  .invitation__input-info.__mob,
  .invitation__discount {
    display: block;
  }
  .invitation__input-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .invitation__discount {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #FFE4D1;
    padding: 4px 8px;
    border-radius: 55px;
    color: #FF7513;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 6px;
  }
  .invitation__title,
  .invitation__lbl {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .invitation__list {
    font-size: 14px;
    font-weight: 400;
    gap: 1px;
    margin-bottom: 0;
  }
  .dashboard {
    padding: 0;
    background: transparent;
  }
  .invitation__first,
  .invitation__second {
    font-size: 16px;
    border-radius: 16px;
    padding: 16px;
    background: #fff;
  }
  .invitation__first {
    margin-bottom: 8px;
  }
  .invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .invitation__second,
  .invitation__input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .invitation__input-inp input {
    width: 100%;
    height: 40px;
  }
  .invitation__btn {
    width: 94px;
    height: 40px;
    border-radius: 16px;
  }
  .invitation__input-inp {
    width: calc(100% - 88px);
  }
  .invitation__info {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
  }
  .invitation__input-inner {
    margin-bottom: 0;
  }
  .invitation__input-wrp {
    margin-bottom: 6px;
  }
}
@media (max-width: 700px) {
  .invitation__input-info.__mob {
    display: none;
  }
  .invitation__input-info {
    display: block;
  }
  .invitation__input-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .invitation__btn {
    width: 100%;
  }
}